---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$primary-colour: #36C7C2 !default;
$primary-colour-dark: #02678e !default;

$secondary-colour: #03abed !default;
$secondary-colour-dark: #02678e !default;

$body-colour: #FAFAFA !default;
$copy-colour: #30485F !default;
$header-colour: $primary-colour-dark !default;

$font-stack: 'Lato', sans-serif !default;

// Reset
@import 'normalize';
@import 'typography';
@import 'layout';
@import 'syntax-highlighting';
